@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.screen {		
	background: linear-gradient(90deg, #d41212, #000000);		
	position: relative;
    justify-content: center;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #b59775;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}


.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}